:root {
    --accent-color: darkblue;
}

body {
    font-family: Lato, sans-serif;
    background-color: lightgray;
}

.header-div {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
}