:root {
    --accent-color: darkslategray;
}

body {
    font-family: Lato, sans-serif;
    background-color: lightgray;
}

.header-div {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
}

.page-container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 30% 70%;
    background-color: white;
    padding: 2%;
}
.contact-div {
    color: var(--accent-color);
}