:root {
    --site-color-1: #DCE2F0;
    --site-color-2: #50586C;
}

body {
    font-family: Lato, sans-serif;
    background-color: var(--site-color-1);
}

.header-div {
    background-color: var(--site-color-2);
    color: var(--site-color-1);
    text-align: center;
}

.page-container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 30% 70%;
    background-color: var(--site-color-2);
    padding: 2%;
}
.contact-div {
    color: var(--site-color-1);
}

.headshot {
    width: 60%;
    margin: auto;
}